<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @magazine %>


<%= @magazine.likes.count %> Likes
<% like = current_user.likes.find_by(magazine: @magazine) %>
<% if like.nil? %>
   <%= button_to "Like", likes_path, params: { like: {magazine_id: @magazine.id}}, method: :post %>
<% else %>
   <%= button_to "Unlike", like_path(like), method: :delete %>
<% end %>


  <div>
    <%= link_to "Edit this magazine", edit_magazine_path(@magazine) %> |
    <%= link_to "Back to magazines", magazines_path %>
    <%= button_to "Destroy this magazine", @magazine, method: :delete, class: "btn btn-danger" %>
  </div>
</div>

<div class="container">
  <%= render 'comments/form', magazine: @magazine %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', magazine: @magazine, comment: comment %>
  <% end %>
</div>